@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: rgb(51, 51, 51)
}

.article header {
  margin: 36px 0 0 0;
}

main {
  margin: 0 auto ;
  padding: 0;
  width: 960px;
}

img {
  border: solid 1px rgb(208, 211, 212);
}

.article-featured-img {
  width: 960px;
}

.images-container footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding: 0
}

.image-info-container {
  margin: .5em 0 .5em 0;
}

.article-image-title {
  font-weight: 700;
  margin-bottom: .2em;
}

.article-thumbnails img {
  display: inline-block;
  margin-left: .3em;
  width: 80px;
  cursor: pointer;
}

h1 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 10px 0 18px 0;
}

h2 {
  margin: 36px 0 26px 0;
  font-weight: 300;
}

.article-text p {
  font-size: 1em;
  margin-top: 1em;
  white-space: pre-line;
}

.video-container {
  float: right;
  border-bottom: 1px solid rgb(51, 51, 51);
  margin: 0 -2em 2em 2em;
  padding-top: 18px;
}
